@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*, html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.background {
  background: linear-gradient(to bottom, #3F375E 28vh, #252232 0%); 
  min-height: 100vh;
  padding-bottom: 50px;
}

.header {
  max-width: 1000px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icons img {
  cursor: pointer;
  padding: 10px;
}


.header-links {
  display: flex;
  align-items: center;
}

.header-links button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.header-links button:hover {
  text-decoration: underline;
  text-decoration-color: rgb(36, 98, 212);
}

.header-links img {
  margin: 0 20px;
  cursor: pointer;
}

.banners {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.banner-primary {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 700px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
  transition: background-image 0.5s ease-in-out;
}

.banner-data {
  position: absolute;
  bottom: -100%;
  padding: 10px 15px;
  padding-right: 0;
  color: #fff;
  border-radius: 10px;
  background: rgba(0,0,0,0.3); 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: bottom 0.3s ease;
  width: 98%;
  
}

.banner-primary:hover .banner-data, 
.banner-3:hover .banner-data,
.banner-2:hover .banner-data {
  bottom: 0;
}

.banner-data h2 {
  font-weight: 500;
  line-height: 28px;
  font-size: 26px;
  margin-bottom: 5px;
}

.banner-data p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  word-break: break-word;
}

.banner-secondary {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.banner-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: background-image 1s ease-in-out;
}

.banner-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  transition: background-image 1s ease-in-out;
}

.popular {
  padding-top: 50px;
}

.popular, .exibition, .favorites {
  color: white;
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
}

.popular, .exibition, h1 {
  font-weight: 400;
  margin-bottom: 20px;
}

.controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: -40px;
  width: calc(100% + 65px);
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s linear ;
}

.controls li {
  cursor: pointer;
}

.controls:hover {
  opacity: 1;
}

.controls:focus {
  outline: none;
}

.movie-card {
  position: relative;
  cursor: pointer;
}

.movie-card .favorite {
  position: absolute;
  top: 6px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.5;
}

.favorite:hover, .liked {
  opacity: 1 !important;
  color: #E83F5B;
}


.movie-card img {
  border-radius: 10px;
  width: 154px;
  height: 231px;
}
